{% set seoTitle = globalSeo.seo_title %}
{% set seoDescription = globalSeo.seo_description %}
{% set seoKeywords = globalSeo.seo_keywords %}
{% set location = geocookie() %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no"/>
  <meta name="yandex-verification" content="9d1d8997ae047323" />
  <meta name="msvalidate.01" content="324F85A8D13E8F08C0B60D8ACBC7975B" />
  <meta name="google-site-verification" content="NVv6THLlu1JZyuLOuk58OwzEk3AZtJNjcKU1vRieIus" />
  <title>{% if title is defined %}{{ title }} - {% elseif seoTitle is defined %}{{ seoTitle }} - {% endif %}{{ siteName }}</title>
  <meta name="description" content="{% if description|length %}{{ description }}{% else %}{{ seoDescription }}{% endif %}"/>
  <meta name="keywords" content="{% if keywords|length %}{% for keyword in keywords.all() %}{{ keyword.title }} {% endfor %}{% else %}{% for keyword in seoKeywords.all() %}{{ keyword.title }} {% endfor %}{% endif %}"/>

  <link rel="apple-touch-icon" sizes="57x57" href="https://questcorp.events/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://questcorp.events/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://questcorp.events/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://questcorp.events/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://questcorp.events/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://questcorp.events/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://questcorp.events/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://questcorp.events/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://questcorp.events/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="https://questcorp.events/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://questcorp.events/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://questcorp.events/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://questcorp.events/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="https://questcorp.events/assets/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" type="text/css" href="https://questcorp.events/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://questcorp.events/assets/css/sidr.dark.min.css">
  <link rel="stylesheet" type="text/css" href="https://questcorp.events/assets/css/fullPage.min.css">
  <link rel="stylesheet" type="text/css" href="https://questcorp.events/assets/css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="https://questcorp.events/assets/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" type="text/css" href="https://questcorp.events/assets/css/style.css">
  <link type="text/css" rel="stylesheet" href="https://questcorp.events/assets/lightslider/css/lightslider.css" />
  <link rel="stylesheet" type="text/css" href="https://questcorp.events/assets/css/tb-landing.css">
  {{ globalanalyticsHeader.textUnformatted|raw }}
</head>
<body class="fr-landing">
  <style>
  #overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
  }
</style>
{% if animatsiyaZagruzkiLendinga.vklyuchit == 1 %}
<div id="overlay">
  <img src="https://questcorp.events/assets/img/loading.gif" alt="Загрузка" /><br />
  Загрузка...
</div>
{% endif %}
{% include "_fr_includes/_header.html" %}

{% block content %}
<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
{% endblock %}

<div class="clearfix"></div>
{% include "_includes/_js.html"  with { remove_cookie: '1' }  %}
<script type="text/javascript" src="https://questcorp.events/assets/js/jquery.paroller.min.js"></script>
<script>
jQuery(document).ready(function ($) {

  //$('.parallax-window').paroller();
  var portfolioModal = $('#ng-portfolio');
  $('.portfolio-item').on('click',function(){
    var blockId = $(this).attr('data-blockid');
    var pageId = $(this).attr('data-pageid');
    //  console.log('clicked '+blockId);
    if(blockId){
      $.ajax({
        type:"GET",
        url:"/api/portfolio-tb/"+blockId+"/"+pageId+".json",
        success:function(res){
          if(res){
            var html_to_append = '';
            $.each(res.data, function(i, item) {
          //    console.log(item);
              $.each(item.photos, function(j, image) {
                html_to_append +=
                '<div class="grid-item"><a href="' + image.images + '" data-fancybox="images"><img src="'+ image.images_cropped + '" ></a></div>';
            //      console.log(image.images);
              });
            });
          }else{
          //    console.log('error');
          }
          portfolioModal.find('.grid-body').html(html_to_append);
          portfolioModal.modal('show');
        }
      });
    }else{
      //  console.log('nothing');
    }
  });

});
$(window).on('beforeunload', function() {
  //$(window).scrollTop(0);
});
</script>

<script src="https://questcorp.events/assets/lightslider/js/lightslider.js"></script>
<script type="text/javascript">
$('#lightSlider').lightSlider({
  gallery: true,
  item: 1,
  loop:true,
  slideMargin: 0,
  thumbItem: 6,
  thumbMargin: 10
});
</script>
{% if animatsiyaZagruzkiLendinga.vklyuchit == 1 %}
<script type="text/javascript">
$(window).on('load', function(){
  $('#overlay').fadeOut();
});
</script>
{% endif %}

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59d06869968fa8e8"></script>
{{ globalAnalytics.textUnformatted|raw }}
</body>
<div id="modal-submit" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="change-title">Оставьте ваши контакты, мы перезвоним!</h5>
      </div>
      <div class="modal-body">
          {% macro errorList(errors) %}
          {% if errors %}
          <div id="alert-msg-contact" class="alert-msg uk-margin-bottom">
            <ul class="errors">
              {% for error in errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% endmacro %}

          {% from _self import errorList %}
          <form method="post" id="contact_form" class="wpcf7-form" action="" accept-charset="UTF-8">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="contact-form/send">
            <input type="hidden" name="redirect" value="{{ 'contact/thanks'|hash }}">
            <input type="hidden" name="message[Страница пользователя]" value="{{ craft.app.request.absoluteUrl() }}" >
            <input type="hidden" name="message[Локация]" value="{{ location.city }}" >
            <input type="hidden" name="message[Название формы]" value="Форма: Перезвоните мне">
            <input type="hidden" name="fromEmail" value="no-reply@questcorp.events">
            <p>
              <span class="wpcf7-form-control-wrap name">
                <input class="wpcf7-form-control wpcf7-text" id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}" placeholder="Ваше имя *" required="required">
                {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
              </span>
              <br>
              <span class="wpcf7-form-control-wrap email">
                <input class="wpcf7-form-control wpcf7-text" type="text" name="message[Телефон]" placeholder="Телефон *" required="required" >
              </span>
              <br>
              <span class="wpcf7-form-control-wrap email">
                <input class="wpcf7-form-control wpcf7-text" id="fromEmail" type="email" name="message[Email-пользователя]" placeholder="Email">
              </span>
              <br>
              {#<span class="wpcf7-form-control-wrap email">
                <input class="wpcf7-form-control wpcf7-text datepicker" type="text" name="message[Дата]" placeholder="Дата мероприятия" required="required" >
              </span>
              <br>
              <span class="wpcf7-form-control-wrap email">
                <input class="wpcf7-form-control wpcf7-text" type="text" name="message[Тема]" placeholder="Тема" required="required">
              </span>
              <br>
              <span class="wpcf7-form-control-wrap message">
                <textarea placeholder="Сообщение" class="wpcf7-form-control wpcf7-textarea" rows="3" cols="30" name="message[body]" required="required">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
              </span>
              <br>#}
              <span class="wpcf7-form-control-wrap checkbox">
                <label class="control-label required-label"><input type="checkbox" required=""> Я согласен на обработку персональных данных.</label>
              </span>
              <br>
              <div class="submit-wrap"><input type="submit" value="Отправить" class=""></div>
            </p>

          </form>
      </div>

    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ng-portfolio" tabindex="-1" role="dialog" aria-labelledby="ng-portfolioTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="grid grid-body">

        </div>
      </div>
    </div>
  </div>
</div>

</html>
