<header class="questroom-header" id="header">
  <div class="header-top">
    <div class="container">
      <div class="phone-container">
        <div class="contact-item">
          <a href="tel:{{ globalPhone1.textFormatted }}"><i class="fa fa-phone" aria-hidden="true"></i> {{ globalPhone1.textUnformatted }}</a>
        </div>
        <div class="contact-item">
          <a href="tel:{{ globalPhone2.textFormatted }}"><i class="fa fa-phone" aria-hidden="true"></i> {{ globalPhone2.textUnformatted }}</a>
        </div>
      </div>
      <div class="top-menu-area">
        <ul class="top-menu">
          {% nav entry in craft.entries.section('topMenu').all() %}
          <li><a {% if craft.request.firstSegment ==  entry.mainMenuLink|split('/')|slice(1, 2)|join('/') %}class="active"{% endif %} href="{{ entry.mainMenuLink }}">{{ entry.title }}</a></li>
          {% endnav %}
        </ul>
      </div>
      <p class="welcome-msg">
        {#
          {% if location.city != craft.app.sites.currentSite.name|split(' ')|slice(1, 2)|join(' ') and currentSite.baseUrl != 'https://questcorp.events/'%}
          {% redirect "https://questcorp.events/" %}
          {% endif %}
          #}
          Ваш город: <a href="#" id="modal-action-submit" data-toggle="modal" data-target="#modal-cities"><span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> 	{{ location.city }}</span></a></p>
          <div class="geolocation-popup">
            <p>Ваш город 	{{ location.city }}?</p>
            <a href="#" id="modal-action-submit" data-toggle="modal" data-target="#modal-cities"><span class="geo-change">Изменить</span></a>
            <span class="geo-confirm">Да</span>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container">
          <div class="questroom-logo">
            <a href="/">
              <img class="logo__img" src="{{ globalLogo.commonImage.one().getUrl() }}" alt>
              <img class="mobile_logo__img" src="{{ globalMobileLogo.commonImage.one().getUrl() }}" alt>
            </a>
          </div>
          <div class="questroom-navigation style2">
            <a href="#" class="a-btn header-action" id="modal-action-submit" data-toggle="modal" data-target="#modal-submit">Перезвоните мне</a>
            <nav>
              <ul id="menu-menu-1" class="menu">
                {% nav entry in craft.entries.section('mainMenu').all() %}
                <li class="menu-item menu-item-type-post_type menu-item-object-page page-scroll">
                  <a class="anchor-scroll {% if craft.request.firstSegment ==  entry.mainMenuLink|split('/')|slice(1, 2)|join('/') %}active{% endif %}" href="{{ entry.mainMenuLink }}" data-hash="{{ entry.mainMenuLink }}">{{ entry.title }}</a>
                </li>
                {% endnav %}
              </ul>
            </nav>
            <div class="questroom-nav-menu-icon"><a id="mobile-menu" href="#sidr"><i class="fa fa-bars" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </header>
