<div id="modal-sorry" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Нам грустно,</h5>
      </div>
      <div class="modal-body">
        <p>Потому что <span>мы ещё не открыли филиал в вашем городе</span>. Но мы активно работаем над тем, чтобы это исправить. Если у вас или ваших знакомых есть интерес к квестам и своему бизнесу — приглашаем вас ознакомиться с условиями нашей франшизы! Возможно именно Вы — тот, кого мы ищем?</p>
        <a href="https://questcorp.events/fr" class="a-btn">О франшизе</a>
      </div>

    </div>
  </div>
</div>
