<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="headlines-wrap  margin-lg-45b margin-md-30b ">
          <h4 class="title">{{ call_title| nl2br }}</h4>
        </div>
        <div class="">
          {% macro errorList(errors) %}
          {% if errors %}
          <div id="alert-msg-contact" class="alert-msg uk-margin-bottom">
            <ul class="errors">
              {% for error in errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% endmacro %}

          {% from _self import errorList %}
          <form action="" method="post" class="wpcf7-form" accept-charset="UTF-8">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="contact-form/send">
            <input type="hidden" name="redirect" value="{{ 'contact/thanks'|hash }}">
            <input type="hidden" name="message[Страница пользователя]" value="{{ craft.app.request.absoluteUrl() }}" >
            <input type="hidden" name="message[Локация]" value="{{ location.city }}" >
            <input class="" id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}" placeholder="Ваше имя" required="required">
            {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
            <input class="" type="text" name="message[Телефон]" placeholder="Телефон" required="required" >
            <input class="" type="email" name="fromEmail" placeholder="Email" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
            {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
            <label class="control-label required-label"><input type="checkbox" required=""> Я согласен на обработку персональных данных.</label>
            <div class="submit-wrap margin-lg-45t margin-md-30t">
              <input name="submit" type="submit" id="submit" class="submit-btn a-btn" value="Оставить заявку">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
