{% extends "_layout" %}

{% if tag is defined %}

{% set tag = craft.tags.slug(tag).one() %}
{% set title = tag.title %}

{% set entriesToShow = craft.entries.section('scripts').relatedTo(tag) %}

{% elseif category is defined %}

{% set title = category.title %}
{% set entriesToShow = craft.entries.relatedTo(category) %}

{% else %}
{% set title = "Сценарии" %}

{% set entriesToShow = craft.entries.section('scripts') %}

{% endif %}
{% block content %}

<div class="page-wrap multipage">
  <section class="section container multipage" id="our-quests">
    <div class="row margin-lg-125t margin-sm-80t padding-md-10t margin-lg-125b margin-sm-40b padding-md-10b">
      <div class="col-sm-12">
        <div class="headlines-wrap margin-lg-40b">
          {% if tag is defined %}
            <div class="subtitle">{{ tag.title }}<div class="separator default"></div></div>
          {% endif %}
          <h2 class="title">Сценарии</h2>
        </div>
        <div class="sort-tags">
          {% set tags = craft.tags.group('script') %}
          <a {% if tag is not defined %}class="active"{% endif %} href="/scripts">Все</a>

          {% for tag in tags.all() %}
          {% set count = craft.entries.section('scripts').relatedTo(tag).count() %}
          {% if count > 0 %}
          <a {% if title == tag.title %}class="active"{% endif %} href="{{ url('scripts/tags/'~tag.slug) }}">{{ tag.title }}</a>
          {% endif %}
          {% endfor %}
        </div>
        <div class="container-fluid">
          <div class="posts-list posts-list-infinity row">
            {% for entry in entriesToShow.all() %}

            <div class="col-xs-12 col-sm-6 post-item-isotope  " s>
              <div class="post-item grid2 ">
                {% set image = entry.scriptImage.one() %}
                {% if image %}
                <img src="" alt class="s-img-switch">
                <img src="{{ image.getUrl('izobrazhenie555X275') }}" alt="{{ entry.title }}" class="s-img-switch">
                {% else %}
                <img src="https://via.placeholder.com/555x275" alt="{{ entry.title }}" class="s-img-switch">
                {% endif %}
                <div class="content">
                  <i class="corner-1"></i>
                  <i class="corner-2"></i>
                  <i class="corner-3"></i>
                  <i class="corner-4"></i>
                  <div class="a-table">
                    <div class="info">
                      <div class="info-item">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <p class="info-item-title"></p>
                        <p>{{ entry.scriptQty }}</p>
                        <p></p>
                      </div>
                      <div class="info-item">
                        <i class="fa fa-hourglass" aria-hidden="true"></i>
                        <p class="info-item-title"></p>
                        <p>{{ entry.scriptTime }}</p>
                        <p></p>
                      </div>
                    </div>
                    {% set categories = entry.scriptCategories %}
                    {% if categories | length %}
                    <div class="">
                      <p class="info-item-title">
                        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                        {% nav category in categories.all() %}
                      <a href="{{ category.url }}">{{ category }}</a>{% if loop.last %}
                      {% else %},
                      {% endif %}
                      {% endnav %}</p>
                    </div>
                    {% endif %}
                  </div>
                  <div class="bottom-content">
                    <h4 class="post-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h4>
                    <div class="address contact-wrap-item">
                      <span class="contact-item">{{ entry.scriptShort|striptags|slice(0, 300) ~ '...' }}</span>
                    </div>
                    <a href="{{ entry.url }}" class="a-btn">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
