{% extends "_tb_includes/_layout" %}
{% set title = entry.title %}
{% set description = entry.seo_description %}
{% set keywords = entry.seo_keywords %}

{% block content %}
{% for block in entry.landingSections.all() %}
{% if block.type == 'topMenyu' %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="top-mobile-header">
      <div class="head-center">
        <a class="" href="tel:{{ block.telefon|raw|striptags|replace('/\D+/', '') }}">{{ block.telefon|raw }}</a>
      </div>
    </div>

    <div class="navbar-header">
      {% set mobileLogo = entry.landingMobilNyyLogotip.one() %}
      {% if mobileLogo %}
      <img class="mobile_logo__img" src="{{ mobileLogo.getUrl() }}" alt="mobile logo">
      {% endif %}
      <div class="head-left">
        <a href="/" class="navbar-brand">
          {% set logo = entry.landingLogotip.one() %}
          {% if logo %}
          <img class="logo__img" src="{{ logo.getUrl() }}" alt="logo">
          {% endif %}
        </a>
      </div>
      <div class="head-right">
        <a class="head-phone" href="tel:{{ block.telefon|raw|striptags|replace('/\D+/', '') }}">{{ block.telefon|raw }}</a>
        <a class="call-us-btn" href="#" data-toggle="modal" data-target="#modal-submit">Заказать звонок</a><br>
        <a class="text-us-btn" href="https://wa.me/{{ globalWhatsapp.textUnformatted }}" target="_blank">Или напишите нам в <span>WhatsApp <i class="fab fa-whatsapp"></i></span></a>
      </div>


    </div><!--/.nav-collapse -->
  </div>
</nav>
{% elseif block.type == 'sektsiya1' %}
<div id="sektsiya1" class="post-img-wrap single-post parallax-window"
{% set image = block.izobrazhenie1.one() %}
{% if image %}
style="background: url('{{ image.getUrl() }}') no-repeat center;
{% endif %}
background-size: cover;"
data-paroller-factor="-0.1">
<div class="content ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {{ block.zagolovok1 }}
      </div>
    </div>
  </div>
</div>
</div>
{% elseif block.type == 'sektsiya7' %}
<div id="sektsiya7" class="container section fp-auto-height p-auto-height-responsive">
  <div class="row">
    <div class="col-md-12">
      <div class="headlines-wrap">
        <h2>{{ block.zagolovok7|raw }}</h2>
      </div>
    </div>
  </div>
  {% if block.video7 | length %}
    {% for row in block.video7 %}
    {% if loop.first %}
    <div class="row">
    <div class="col-md-6">{{ block.tekst7 }}</div>
    <div class="col-md-6">
      {{ row.kodVideo|raw }}
    </div>
    <div class="clearfix"></div>
  </div>
    {% else %}

    {% if loop.index == 2 %}
    <div class="row video-wrapper">
      {% endif %}
    <div class="col-md-3 video-item">
      {{ row.kodVideo|raw }}
    </div>
    {% if loop.last == 1 %}
    </div>
      {% endif %}
    {% endif %}
    {% endfor %}
  {% endif %}

</div>
{% elseif block.type == 'sektsiya3' %}
<div id="sektsiya3" class="post-img-wrap single-post parallax-window"
{% set image = block.izobrazhenie3.one() %}
{% if image %}
style="background: url('{{ image.getUrl() }}') no-repeat center;
{% endif %}
background-size: cover;"
data-paroller-factor="0.5"
data-paroller-factor-xs="0.2">

<div class="content ">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        {{ block.tekst3 }}
      </div>
    </div>
  </div>
</div>
</div>

{% elseif block.type == 'sektsiyaSIkonkoy1' %}
<div class="">
  <div id="sektsiya6" class="container section fp-auto-height p-auto-height-responsive">
    <div class="row margin-lg-25b margin-md-25b margin-sm-25b margin-xs-25b">
      <div class="col-md-9">
        {{ block.tekst1 }}
      </div>
      <div class="col-md-3 icon-section">
        {% set image = block.ikonka1.one() %}
        {% if image %}
        <img src="{{ image.getUrl('izobrazhenie285X285') }}" alt="" class="float-md-right">
        {% endif %}
      </div>
    </div>
    {% if entry.landingKvesty | length %}
    <div class="row">
      <div class="col-sm-12">
        <div class="container-fluid">
          <div class="posts-list posts-list-infinity row">
            {% for quest in entry.landingKvesty.all() %}
            <div class="col-xs-12 col-sm-6 post-item-isotope">
              <div class="post-item grid2 ">
                {% set image = quest.izobrazhenieQuest.one() %}
                {% if image %}
                <img src="{{ image.getUrl('izobrazhenie555X375') }}" alt="{{ quest.nazvanieQuest }}" class="s-img-switch">
                {% else %}
                <img src="https://via.placeholder.com/555x375" alt="{{ quest.nazvanieQuest }}" class="s-img-switch">
                {% endif %}
                <div class="content">
                  <i class="corner-1"></i><i class="corner-2"></i><i class="corner-3"></i><i class="corner-4"></i>
                  <div class="a-table">
                    <div class="info">
                      {% for row in quest.osobennostiQuest %}
                      <div class="info-item"><i class="fa fa-users" aria-hidden="true"></i><p class="info-item-title"></p><p>{{ row.kolVo }}</p><p></p></div>
                      <div class="info-item"><i class="far fa-clock"></i><p class="info-item-title"></p><p>{{ row.prodolzhitelNost }}</p><p></p></div>
                      <div class="info-item"><i class="fa fa-rocket" aria-hidden="true"></i><p class="info-item-title"></p><p>{{ row.tip }}</p><p></p></div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="bottom-content">
                    <h3 class="post-title">{{ quest.nazvanieQuest }}</h3>
                    <div class="address contact-wrap-item">
                      <span class="contact-item">{{ quest.opisanieQuest|striptags|slice(0, 300) }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% elseif block.type == 'sektsiyaSIkonkoy2' %}
<div class="">
  <div id="sektsiya6" class="container section fp-auto-height p-auto-height-responsive">
    <div class="row margin-lg-25b margin-md-25b margin-sm-25b margin-xs-25b">
      <div class="col-md-9">
        {{ block.tekst2 }}
      </div>
      <div class="col-md-3 icon-section">
        {% set image = block.ikonka2.one() %}
        {% if image %}
        <img src="{{ image.getUrl('izobrazhenie285X285') }}" alt="" class="float-md-right">
        {% endif %}
      </div>
    </div>
    {% if entry.landingKvesty2 | length %}
    <div class="row">
      <div class="col-sm-12">
        <div class="container-fluid">
          <div class="posts-list posts-list-infinity row">
            {% for quest in entry.landingKvesty2.all() %}
            <div class="col-xs-12 col-sm-6 post-item-isotope">
              <div class="post-item grid2 ">
                {% set image = quest.izobrazhenieQuest.one() %}
                {% if image %}
                <img src="{{ image.getUrl('izobrazhenie555X375') }}" alt="{{ quest.nazvanieQuest }}" class="s-img-switch">
                {% else %}
                <img src="https://via.placeholder.com/555x375" alt="{{ quest.nazvanieQuest }}" class="s-img-switch">
                {% endif %}
                <div class="content">
                  <i class="corner-1"></i><i class="corner-2"></i><i class="corner-3"></i><i class="corner-4"></i>
                  <div class="a-table">
                    <div class="info">
                      {% for row in quest.osobennostiQuest %}
                      <div class="info-item"><i class="fa fa-users" aria-hidden="true"></i><p class="info-item-title"></p><p>{{ row.kolVo }}</p><p></p></div>
                      <div class="info-item"><i class="far fa-clock"></i><p class="info-item-title"></p><p>{{ row.prodolzhitelNost }}</p><p></p></div>
                      <div class="info-item"><i class="fa fa-rocket" aria-hidden="true"></i><p class="info-item-title"></p><p>{{ row.tip }}</p><p></p></div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="bottom-content">
                    <h3 class="post-title">{{ quest.nazvanieQuest }}</h3>
                    <div class="address contact-wrap-item">
                      <span class="contact-item">{{ quest.opisanieQuest|striptags|slice(0, 300) }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% elseif block.type == 'sektsiyaSIkonkoy3' %}
<div class="">
  <div id="sektsiya6" class="container section fp-auto-height p-auto-height-responsive">
    <div class="row margin-lg-25b margin-md-25b margin-sm-25b margin-xs-25b">
      <div class="col-md-9">
        {{ block.tekst3 }}
      </div>
      <div class="col-md-3 icon-section">
        {% set image = block.ikonka3.one() %}
        {% if image %}
        <img src="{{ image.getUrl('izobrazhenie285X285') }}" alt="" class="float-md-right">
        {% endif %}
      </div>
    </div>
    {% if entry.landingKvesty3 | length %}
    <div class="row">
      <div class="col-sm-12">
        <div class="container-fluid">
          <div class="posts-list posts-list-infinity row">
            {% for quest in entry.landingKvesty3.all() %}
            <div class="col-xs-12 col-sm-6 post-item-isotope">
              <div class="post-item grid2 ">
                {% set image = quest.izobrazhenieQuest.one() %}
                {% if image %}
                <img src="{{ image.getUrl('izobrazhenie555X375') }}" alt="{{ quest.nazvanieQuest }}" class="s-img-switch">
                {% else %}
                <img src="https://via.placeholder.com/555x375" alt="{{ quest.nazvanieQuest }}" class="s-img-switch">
                {% endif %}
                <div class="content">
                  <i class="corner-1"></i><i class="corner-2"></i><i class="corner-3"></i><i class="corner-4"></i>
                  <div class="a-table">
                    <div class="info">
                      {% for row in quest.osobennostiQuest %}
                      <div class="info-item"><i class="fa fa-users" aria-hidden="true"></i><p class="info-item-title"></p><p>{{ row.kolVo }}</p><p></p></div>
                      <div class="info-item"><i class="far fa-clock"></i><p class="info-item-title"></p><p>{{ row.prodolzhitelNost }}</p><p></p></div>
                      <div class="info-item"><i class="fa fa-rocket" aria-hidden="true"></i><p class="info-item-title"></p><p>{{ row.tip }}</p><p></p></div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="bottom-content">
                    <h3 class="post-title">{{ quest.nazvanieQuest }}</h3>
                    <div class="address contact-wrap-item">
                      <span class="contact-item">{{ quest.opisanieQuest|striptags|slice(0, 300) }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% elseif block.type == 'sektsiyaSIkonkoy4' %}
<div class="">
  <div id="sektsiya6" class="container section fp-auto-height p-auto-height-responsive">
    {% if block.tekst4|length %}
    <div class="row margin-lg-25b margin-md-25b margin-sm-25b margin-xs-25b">
      <div class="col-md-9">
        {{ block.tekst4 }}
      </div>
      <div class="col-md-3 icon-section">
        {% set image = block.ikonka4.one() %}
        {% if image %}
        <img src="{{ image.getUrl('izobrazhenie285X285') }}" alt="" class="float-md-right">
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% if entry.landingKvesty4 | length %}
    <div class="row">
      <div class="col-sm-12">
        <div class="container-fluid">
          <div class="posts-list posts-list-infinity row">
            {% for quest in entry.landingKvesty4.all() %}
            <div class="col-xs-12 col-sm-6 post-item-isotope">
              <div class="post-item grid2 ">
                {% set image = quest.izobrazhenieQuest.one() %}
                {% if image %}
                <img src="{{ image.getUrl('izobrazhenie555X375') }}" alt="{{ quest.nazvanieQuest }}" class="s-img-switch">
                {% else %}
                <img src="https://via.placeholder.com/555x375" alt="{{ quest.nazvanieQuest }}" class="s-img-switch">
                {% endif %}
                <div class="content">
                  <i class="corner-1"></i><i class="corner-2"></i><i class="corner-3"></i><i class="corner-4"></i>
                  <div class="a-table">
                    <div class="info">
                      {% for row in quest.osobennostiQuest %}
                      <div class="info-item"><i class="fa fa-users" aria-hidden="true"></i><p class="info-item-title"></p><p>{{ row.kolVo }}</p><p></p></div>
                      <div class="info-item"><i class="far fa-clock"></i><p class="info-item-title"></p><p>{{ row.prodolzhitelNost }}</p><p></p></div>
                      <div class="info-item"><i class="fa fa-rocket" aria-hidden="true"></i><p class="info-item-title"></p><p>{{ row.tip }}</p><p></p></div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="bottom-content">
                    <h3 class="post-title">{{ quest.nazvanieQuest }}</h3>
                    <div class="address contact-wrap-item">
                      <span class="contact-item">{{ quest.opisanieQuest|striptags|slice(0, 300) }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% elseif block.type == 'sektsiyaSIkonkoy5' %}
<div class="">
  <div id="sektsiya6" class="container section fp-auto-height p-auto-height-responsive">
    <div class="row margin-lg-25b margin-md-25b margin-sm-25b margin-xs-25b">
      <div class="col-md-9">
        {{ block.tekst5 }}
      </div>
      <div class="col-md-3 icon-section">
        {% set image = block.ikonka5.one() %}
        {% if image %}
        <img src="{{ image.getUrl('izobrazhenie285X285') }}" alt="" class="float-md-right">
        {% endif %}
      </div>
    </div>
    {% if entry.landingKvesty5 | length %}
    <div class="row">
      <div class="col-sm-12">
        <div class="container-fluid">
          <div class="posts-list posts-list-infinity row">
            {% for quest in entry.landingKvesty5.all() %}
            <div class="col-xs-12 col-sm-6 post-item-isotope">
              <div class="post-item grid2 ">
                {% set image = quest.izobrazhenieQuest.one() %}
                {% if image %}
                <img src="{{ image.getUrl('izobrazhenie555X375') }}" alt="{{ quest.nazvanieQuest }}" class="s-img-switch">
                {% else %}
                <img src="https://via.placeholder.com/555x375" alt="{{ quest.nazvanieQuest }}" class="s-img-switch">
                {% endif %}
                <div class="content">
                  <i class="corner-1"></i><i class="corner-2"></i><i class="corner-3"></i><i class="corner-4"></i>
                  <div class="a-table">
                    <div class="info">
                      {% for row in quest.osobennostiQuest %}
                      <div class="info-item"><i class="fa fa-users" aria-hidden="true"></i><p class="info-item-title"></p><p>{{ row.kolVo }}</p><p></p></div>
                      <div class="info-item"><i class="far fa-clock"></i><p class="info-item-title"></p><p>{{ row.prodolzhitelNost }}</p><p></p></div>
                      <div class="info-item"><i class="fa fa-rocket" aria-hidden="true"></i><p class="info-item-title"></p><p>{{ row.tip }}</p><p></p></div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="bottom-content">
                    <h3 class="post-title">{{ quest.nazvanieQuest }}</h3>
                    <div class="address contact-wrap-item">
                      <span class="contact-item">{{ quest.opisanieQuest|striptags|slice(0, 300) }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% elseif block.type == 'forma1' %}
<div id="forma1" class="request-section yellow-section">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="headlines-wrap">
          <h3>{{ block.zagolovokForm1 }}</h3>
        </div>
      </div>
      <div class="col-md-12">
        {% include "_landing/_landing_form" with { form_agreement_by_button: true, form_name: block.zagolovokForm1, form_agreement_above: true,  form_agreement_below: false, form_metrica: false } %}

      </div>
      <div class="col-md-12 text-uppercase">
        {{ block.tekstForm1 }}
      </div>
    </div>
  </div>
</div>

{% elseif block.type == 'sektsiya6' %}
<div class="">
  <div id="sektsiya6" class="container section fp-auto-height p-auto-height-responsive">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="headlines-wrap">
          <h2 class="text-center">{{ block.zagolovok6|raw }}</h2>
          <div>{{ block.tekst6 }}</div>
        </div>
      </div>
    </div>
    {% if entry.landingPortfolio | length %}
    <div class="col-md-12">
      <div class="row">
        {% for fotootchet in entry.landingPortfolio.all() %}
        <div class="col-md-4 col-sm-6 col-xs-6 col-portfolio-item">
          {% set image = fotootchet.izobrazhenie.one() %}
          {% if image %}
          <div class="portfolio-item" data-blockid="{{ fotootchet.id }}" data-pageid="{{ entry.id }}" id="portfolio-item-{{ fotootchet.id }}" >
            <img class="" src="{{ image.getUrl('image370x275') }}" alt="Фотография {{ fotootchet.id }}" >
            <div class="portfolio-info"><span>Смотреть</span></div>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% elseif block.type == 'sektsiya8' %}
<div class="">
  <div id="sektsiya8" class="white-section section fp-auto-height p-auto-height-responsive">
    <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
          <h2>{{ block.zagolovok8 }}</h2>
      </div>
      <div class="col-md-offset-2 col-md-8 margin-lg-40t margin-md-40t margin-sm-40t margin-lg-40b margin-md-40b margin-sm-40b">
          {{ block.tekst8 }}
      </div>
    </div>
    {% if entry.landingUslugi | length %}
    {% for row in entry.landingUslugi|batch(2) %}
    <div class="row wrap{% if loop.index0 is divisible by(2) %}-odd{% endif %}">

      {% for service in row %}
      <div class="col-md-6 col-sm-12 col-xs-12 item">
        <h3>{{ service.nazvanieService }}</h3>

        {% set image = service.izobrazhenieService.one() %}
        {% if image %}
        <img src="{{ image.getUrl('izobrazhenie285X285') }}" alt="" class="">
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}


    {% endif %}
  </div>
  </div>
</div>

{% elseif block.type == 'sektsiya9' %}
<div id="sektsiya9" class="container section fp-auto-height p-auto-height-responsive">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="headlines-wrap text-center">
        <h2>{{ block.zagolovok9|raw }}</h2>
      </div>
    </div>
    {% if entry.landingAbout | length %}
    <div class="col-md-12">
      <div class="row icons">
        {% for item in entry.landingAbout.all() %}
        <div class="col-sm-6 col-md-3 icon-item">
          {% set image = item.ikonka.one() %}
          {% if image %}
          <img src="{{ image.getUrl() }}" alt="" >
          {% else %}
          <img src="https://via.placeholder.com/48x48" alt="">
          {% endif %}
          <div class="content">
            <h5>{{ item.zagolovok }}</h5>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="col-md-12">
      <a href="/about" class="ng-btn">Подробно о нас</a>
    </div>
  </div>
</div>
{% elseif block.type == 'sektsiya13' %}
<footer id="contacts-footer" class="questroom-footer post-img-wrap parallax-window--disabled"
{% set image = block.izobrazhenie13.one() %}
{% if image %}
style="background: url('{{ image.getUrl() }}') no-repeat center;
{% endif %}
background-size: cover;
background-attachment: fixed;"
data-paroller-factor="-0.2"
data-paroller-factor-xs="-0.2"
data-paroller-factor-sm="-0.2"
data-paroller-factor-md="-0.2"
data-paroller-factor-lg="-0.2">

<div class="questroom-footer-content">
  <div class="container">
    <div class="row margin-lg-40t margin-sm-40t padding-md-10t">
      <div class="col-md-12">
        <h2>{{ block.zagolovok13 }}</h2>
        <p>{{ block.podzagolovok13|raw }}</p>
      </div>
      <div class="col-sm-6 col-lg-4 col-md-4 col-xs-12 nav-widget">
        <h6 id="order">Закажите звонок менеджера</h6>
        {% include "_landing/_landing_form" with { form_agreement_above: true, form_agreement_below: false, form_metrica: false, form_name: '', form_agreement_by_button: false } %}
      </div>
      <div class="col-sm-6 col-lg-8 col-md-8 col-xs-12">
        <div class="contact-wrap ">
          <div class="description">
            <h6>Телефоны:</h6>
            <p><a href="tel:+{{ block.telefon1|lower|replace('/[^0-9]/', '') }}">{{ block.telefon1 }}</a></p>
            <p><a href="tel:+{{ block.telefon2|lower|replace('/[^0-9]/', '') }}">{{ block.telefon2 }}</a></p>
            <h6>Email:</h6>
            <p><a href="mailto:{{ block.email12 }}">{{ block.email13 }}</a></p>
            <h6>Наш адрес:</h6>
            <p>{{ block.adres13 }}</p>
            <h6>Сайт:</h6>
            <p><a href="/">https://questcorp.events</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="questroom-footer-bottom-content">
  <div class="row margin-lg-110t margin-sm-110t padding-md-10t">
    <div class="col-md-12 copyright-info">
      <p>ОГРН {{ block.ogrn13 }}</p>
      <p><a href="/politika">Политика конфиденциальности</a></p>
      <p>Copyright {{ now|date('Y') }} {{ craft.app.request.serverName | ucfirst }}. Все права защищены  •  Сайт создан студией <a href="https://www.iconicline.com/ru">Iconicline</a></p>
    </div>
  </div>
</div>
<a href="https://wa.me/{{ globalWhatsapp.textUnformatted }}" target="_blank" class="whatsapp-button"><img src="https://questcorp.events/assets/img/WhatsApp.svg" alt="WhatsApp" class="whatsapp-button-img"><span>Задайте вопрос онлайн</span></a>
</footer>

{% endif %}
{% endfor %}
{% endblock %}
