{% extends "_layout" %}
{% set title = 'Спасибо!' %}
{% set conversion_tag = "
<!-- Event snippet for Заявки conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-944181278/ildYCLiM6IsBEJ6gnMID'});
</script>
" %}

{% block content %}
<div class="page-wrap multipage">
  <section class="section container multipage" id="our-quests">
    <div class="container">
      <div class="row margin-lg-125t margin-sm-125t padding-md-125t margin-lg-125b margin-sm-40b padding-md-10b">
        <div class="col-sm-12 margin-lg-25b margin-sm-10b margin-lg-125t margin-sm-20t">
          <div class="headlines-wrap">
            <h2 class="title">Спасибо!</h2>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="contact-wrap ">
            <div class="description">
              <p>Мы получили Ваше сообщение!<br>
                Наш менеджер свяжется с вами в ближайшее время.
              </p>
              <a href="/">На главную</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
