{% extends "_fr_includes/_layout" %}
{% set title = entry.title %}
{% set description = entry.seo_description %}
{% set keywords = entry.seo_keywords %}

{% block content %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      {% set mobileLogo = entry.landingMobilNyyLogotip.one() %}
      {% if mobileLogo %}
      <img class="mobile_logo__img" src="{{ mobileLogo.getUrl() }}" alt="mobile logo">
      {% endif %}
      <div class="head-left">
        <a href="/" class="navbar-brand">
          {% set logo = entry.landingLogotip.one() %}
          {% if logo %}
          <img class="logo__img" src="{{ logo.getUrl() }}" alt="logo">
          {% endif %}
        </a>
      </div>
      <div class="head-right">
        <a class="call-us-btn" id="btn-1" href="#" data-toggle="modal" data-target="#modal-submit">Перезвоните мне!</a>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>
{% for block in entry.landingSections.all() %}
{% if block.type == 'sektsiya3' %}
<div id="sektsiya3" class="post-img-wrap single-post parallax-window"
{% set image = block.izobrazhenie3.one() %}
{% if image %}
style="background: url('{{ image.getUrl() }}') no-repeat center;
{% endif %}
background-size: cover;"
data-paroller-factor="0.5"
data-paroller-factor-xs="0.2">

<div class="content ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ block.tekst3 }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="#" data-toggle="modal" data-target="#modal-submit" class="btn-rasschet" id="btn-2">Получить расчет прибыли, окупаемости и расхода</a>
        <a href="#" data-toggle="modal" data-target="#modal-submit" class="btn-sobst"  id="btn-3">Побеседовать с собственником франшизы</a>
        <p>*Расчет на город от 500 тыс. жителей, инвестиции 350 000 руб.</p>
      </div>
    </div>
  </div>
</div>
</div>
{% elseif block.type == 'sektsiya1' %}
<div class="white-section" id="sektsiya1" >
  <div class="container section">
    <div class="row">
      <div class="col-md-6">
        {% set image = block.izobrazhenie1.one() %}
        {% if image %}
        <img src="{{ image.getUrl() }}">
        {% endif %}
      </div>
      <div class="col-md-6">
        <div class="headlines-wrap">
          <div>{{ block.zagolovok1 }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% elseif block.type == 'sektsiya7' %}
<div id="sektsiya7" class="container section fp-auto-height p-auto-height-responsive">
  <div class="row">
    <div class="col-md-6">
      <div class="headlines-wrap">
        <h2>{{ block.zagolovok7 }}</h2>
        <div>{{ block.tekst7 }}</div>
      </div>
    </div>
    <div class="col-md-6">
      {% if block.video7 | length %}
      <div class="row video-wrapper">
        {% for row in block.video7 %}
        {% if loop.first %}
        <div class="col-md-12 video-item">
          {{ row.kodVideo|raw }}
        </div>
        {% else %}
        <div class="col-md-6 video-item">
          {{ row.kodVideo|raw }}
        </div>
        {% endif %}

        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="white-section">
  <div id="sektsiya15" class="container section fp-auto-height p-auto-height-responsive">
    {% elseif block.type == 'sektsiya2' %}
    <div class="row">
      <div class="col-md-12">
        <div class="headlines-wrap">
          <h2>{{ block.zagolovok2|raw }}</h2>
          <div class="row">
            <div class="col-md-6 col-xs-12">{{ block.tekst2 }}</div>
          </div>
        </div>
      </div>
    </div>
    {% elseif block.type == 'sektsiya15' %}
    <div class="row">
      <div class="col-md-12">
        {% set images = block.skrinshoty15.all() %}
        {% for image in images %}
        <img src="{{ image.getUrl() }}" alt="">
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% elseif block.type == 'sektsiya10' %}
<div class="gray-section">
  <div id="sektsiya10" class="container section fp-auto-height p-auto-height-responsive">
    <div class="row">
      <div class="col-md-12">
        <div class="headlines-wrap">
          <h2>{{ block.zagolovok10|raw }}</h2>
          <div class="row">
            <div class="col-md-6 col-xs-12">{{ block.tekst10 }}</div>
          </div>
        </div>
      </div>
    </div>
    {% if block.skanyOtzyvov10 | length %}
    <div class="otzyvi-slider">
      <ul id="lightSlider">
        {% for asset in block.skanyOtzyvov10.all() %}
        <li data-thumb="{{ asset.url('image370x275') }}">
          <img src="{{ asset.url() }}" />
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>
{% elseif block.type == 'sektsiya5' %}
<div id="sektsiya5" class="container section fp-auto-height p-auto-height-responsive">
  <div class="row">
    <div class="col-md-12">
      <div class="headlines-wrap">
        <h2>{{ block.zagolovok5 }}</h2>
        <div class="row">
          <div class="col-md-6 col-xs-12">{{ block.tekst5 }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-eq-height">
  {% for sotrudnik in entry.landingRukovodyashchiySostav.all() %}
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="sotrudnik-wrap">
      <div class="img-wrap">
        {% set image = sotrudnik.foto.one() %}
        {% if image %}
        <img src="{{ image.getUrl('izobrazhenie320X310') }}" alt="{{ sotrudnik.imya }}" class="">
        {% endif %}
      </div>

      <h5>{{ sotrudnik.imya }}</h5>
      <h6>{{ sotrudnik.dolzhnost }}</h6>
      <div class="post-excerpt">
        <p>{{ sotrudnik.obyazannosti }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


</div>
{% elseif block.type == 'sektsiya6' %}
<div class="white-section">
  <div id="sektsiya6" class="container section fp-auto-height p-auto-height-responsive">
    <div class="row">
      <div class="col-md-12">
        <div class="headlines-wrap text-center">
          <h2>{{ block.zagolovok6 }}</h2>
          <div>{{ block.tekst6 }}</div>
        </div>
      </div>
      {% if entry.landingAbout | length %}
<div class="col-md-12">
  <div class="row icons">
    {% for item in entry.landingAbout.all() %}
    <div class="col-sm-6 col-md-3 icon-item">
      {% set image = item.ikonka.one() %}
      {% if image %}
      <img src="{{ image.getUrl() }}" alt="" >
      {% else %}
      <img src="https://via.placeholder.com/48x48" alt="">
      {% endif %}
      <div class="content">
        <h5>{{ item.zagolovok }}</h5>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
    </div>
  </div>
  {% elseif block.type == 'sektsiya4' %}
  <div id="sektsiya4" class="container section fp-auto-height p-auto-height-responsive">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="headlines-wrap">
          <div>{{ block.tekst4 }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% elseif block.type == 'sektsiya8' %}
<div id="sektsiya8" class="container section fp-auto-height p-auto-height-responsive">
  <div class="row">
    <div class="col-md-12">
      <div class="headlines-wrap">
        <h2>{{ block.zagolovok8|raw }}</h2>
        <div class="row">
          <div class="col-md-6 col-xs-12">{{ block.tekst8 }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="timeline">
        {% for step in entry.landingShagiKBiznesu.all() %}
        <div class="timeline-container {% if loop.index is odd %}left{% else %}right{% endif %}">
          <div class="timeline-content">
            <h3>{{ step.nazvanie }}</h3>
            <div class="">
              {{ step.opisanie }}
            </div>
            <p class="timeline-srok">{{ step.srok }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% elseif block.type == 'knopkiDlyaFormySTekstom' %}
<div class="white-section" id="knopkiDlyaFormySTekstom">
  <div id="" class="container section fp-auto-height p-auto-height-responsive">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="headlines-wrap text-center">
          {{ block.tekst1 }}
          <a href="#" data-toggle="modal" data-target="#modal-submit" class="btn-rasschet"  id="btn-4">{{ block.tekstKnopki1 }}</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="headlines-wrap text-center">
          {{ block.tekst2 }}
          <a href="#" data-toggle="modal" data-target="#modal-submit" class="btn-sobst"  id="btn-5">{{ block.tekstKnopki2 }}</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8 first-p-space">
        {{ block.tekstOpisanie }}
      </div>
      <div class="col-xs-12 col-md-2">
        {% set dokument = block.dokument.one() %}
        {% if dokument %}
        <a href="{{ dokument.getUrl() }}" data-fancybox="docs"><img src="{{ dokument.getUrl('width200px') }}"></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% elseif block.type == 'sektsiya16' %}
<div id="sektsiya16" class="container section fp-auto-height p-auto-height-responsive">
  <div class="row">
    <div class="col-md-12">
      <div class="headlines-wrap">
        <div>{{ block.tekst16 }}</div>
      </div>
    </div>
  </div>
  {% if entry.landingInstrumenty | length %}
  {% for instrument in entry.landingInstrumenty.all() %}
  <div class="row row-internal-wrapper">
    <div class="col-md-2">
      <div class="icon-wrapper">
        {% set image = instrument.ikonka.one() %}
        {% if image %}
        <img src="{{ image.getUrl('') }}">
        {% endif %}
      </div>
    </div>
    <div class="col-md-10">
      {{ instrument.opisanie }}
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>


{% elseif block.type == 'sektsiya14' %}
<div id="sektsiya14" class="white-section section fp-auto-height p-auto-height-responsive">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="headlines-wrap">
          <h2>{{ block.zagolovok14 }}</h2>
        </div>
      </div>
    </div>
    {% if block.tablitsa14 | length %}
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Собственный бизнес</th>
          <th>Франшиза QUESTCORP</th>
        </tr>
      </thead>
      <tbody>
        {% for row in block.tablitsa14 %}
        <tr>
          <td>{{ row.naimenovanie|raw }}</td>
          <td>{{ row.sobstvennyyBiznes|raw }}</td>
          <td class="gray-cell-bg">{{ row.franshiza|raw }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>

{% elseif block.type == 'sektsiya13' %}
<footer id="contacts-footer" class="questroom-footer post-img-wrap parallax-window--disabled"
{% set image = block.izobrazhenie13.one() %}
{% if image %}
style="background: url('{{ image.getUrl() }}') no-repeat center;
{% endif %}
background-size: cover;
background-attachment: fixed;"
data-paroller-factor="-0.2"
data-paroller-factor-xs="-0.2"
data-paroller-factor-sm="-0.2"
data-paroller-factor-md="-0.2"
data-paroller-factor-lg="-0.2">

<div class="questroom-footer-content">
  <div class="container">
    <div class="row margin-lg-40t margin-sm-40t padding-md-10t">
      <div class="col-md-12">
        <h2>{{ block.zagolovok13 }}</h2>
        <p>{{ block.podzagolovok13 }}</p>
      </div>
      <div class="col-sm-6 col-lg-4 col-md-4 col-xs-12 nav-widget">
        <h6 id="order">Закажите звонок менеджера</h6>
        {% include "_landing/_landing_form" with { form_agreement_above: true, form_name: '', form_agreement_below: false, form_agreement_by_button: false, form_metrica: false } %}
      </div>
      <div class="col-sm-6 col-lg-8 col-md-8 col-xs-12">
        <div class="contact-wrap ">
          <div class="description">
            <h6>Телефоны:</h6>
            <p><a href="tel:+{{ block.telefon1|lower|replace('/[^0-9]/', '') }}">{{ block.telefon1 }}</a></p>
            <p><a href="tel:+{{ block.telefon2|lower|replace('/[^0-9]/', '') }}">{{ block.telefon2 }}</a></p>
            <h6>Email:</h6>
            <p><a href="mailto:{{ block.email12 }}">{{ block.email13 }}</a></p>
            <h6>Наш адрес:</h6>
            <p>{{ block.adres13 }}</p>
            <h6>Сайт:</h6>
            <p><a href="/">https://questcorp.events</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="questroom-footer-bottom-content">
  <div class="row margin-lg-110t margin-sm-110t padding-md-10t">
    <div class="col-md-12 copyright-info">
      <p>ОГРН {{ block.ogrn13 }}</p>
      <p><a href="/politika">Политика конфиденциальности</a></p>
      <p>Copyright {{ now|date('Y') }} {{ craft.app.request.serverName | ucfirst }}. Все права защищены  •  Сайт создан студией <a href="https://www.iconicline.com/ru">Iconicline</a></p>
    </div>
  </div>
</div>
<a href="https://wa.me/79853450223" target="_blank" class="whatsapp-button"><img src="https://questcorp.events/assets/img/WhatsApp.svg" alt="WhatsApp" class="whatsapp-button-img"><span>Задайте вопрос онлайн</span></a>
</footer>

{% endif %}
{% endfor %}
{% endblock %}
