{% extends "_layout" %}
{% set title = "404" %}

{% block content %}
<section class="about-us-session padding-top-100 padding-bottom-100">
  <div class="container">
    <div class="row margin-lg-125t margin-sm-40t padding-md-10t margin-lg-125b margin-sm-40b padding-md-10b">
      <div class="col-md-12">
        <h3 class="title margin-bottom-20 text-center"><span>404</span></h3>
        <p class="des margin-bottom-20 text-center">Страница не найдена<br>
        Возникла ошибка или страница, которую вы ищете, не существует.</p>
        <div class="swin-btn-wrap center"><a href="javascript:history.go(-1)" class="swin-btn center form-submit btn-transparent"> <span>	Вернуться назад</span></a> , или перейти <a href="/" class="swin-btn center form-submit btn-transparent"> <span>	На главную</span></a></div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
