{% extends "_layout" %}
{% set title = entry.title %}
{% set description = entry.seo_description %}
{% set keywords = entry.seo_keywords %}

{% block content %}

<div class="page-wrap multipage">
  <section class="section container multipage" id="our-quests">
    <div class="row margin-lg-125t margin-sm-60t padding-md-70t margin-lg-25b margin-sm-25b padding-md-10b">
      <div class="col-xs-12">
        <div class="headlines-wrap blog-title-wrap">
          <h2 class="title">Условия</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="post-detailed">
          <div class="post-content ">
            {{ entry.body }}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
