{% set seoTitle = globalSeo.seo_title %}
{% set seoDescription = globalSeo.seo_description %}
{% set seoKeywords = globalSeo.seo_keywords %}
{% set location = geocookie() %}


<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no"/>
  <meta name="yandex-verification" content="9d1d8997ae047323" />
  <meta name="msvalidate.01" content="324F85A8D13E8F08C0B60D8ACBC7975B" />
  <meta name="google-site-verification" content="NVv6THLlu1JZyuLOuk58OwzEk3AZtJNjcKU1vRieIus" />
  <title>{% if title is defined %}{{ title }} - {% elseif seoTitle is defined %}{{ seoTitle }} - {% endif %}{{ siteName }}</title>
  <meta name="description" content="{% if description|length %}{{ description }}{% else %}{{ seoDescription }}{% endif %}"/>
  <meta name="keywords" content="{% if keywords|length %}{% for keyword in keywords.all() %}{{ keyword.title }} {% endfor %}{% else %}{% for keyword in seoKeywords.all() %}{{ keyword.title }} {% endfor %}{% endif %}"/>

  <link rel="apple-touch-icon" sizes="57x57" href="https://questcorp.events/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://questcorp.events/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://questcorp.events/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://questcorp.events/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://questcorp.events/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://questcorp.events/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://questcorp.events/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://questcorp.events/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://questcorp.events/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="https://questcorp.events/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://questcorp.events/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://questcorp.events/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://questcorp.events/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="https://questcorp.events/assets/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  {% include "_includes/_styles.html" %}
  {{ globalanalyticsHeader.textUnformatted|raw }}

</head>
<body>
  {# {% include "_includes/_loader.html" %} #}
  {% include "_includes/_header.html" %}

  {% block content %}
  <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
  <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
  {% endblock %}

  {% include "_includes/_footer.html" %}
  {% include "_includes/modal-form.html" %}
  {% include "_includes/modal-cities.html" %}

  {% if currentSite.id != 1 and netFilialapopUpOkno.netFiliala == 1 %}
  {% include "_includes/modal-sorry.html" %}
  {% endif %}

  <div class="clearfix"></div>
  {% include "_includes/mobile-menu.html" %}
  {% include "_includes/_js.html" %}

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59d06869968fa8e8"></script>
  {{ globalAnalytics.textUnformatted|raw }}

  {% if conversion_tag is defined %}
  {{ conversion_tag|raw }}
  {% endif %}
</body>
</html>
