{% macro errorList(errors) %}
{% if errors %}
<div id="alert-msg-contact" class="alert-msg uk-margin-bottom">
  <ul class="errors">
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endmacro %}

{% from _self import errorList %}
<form action="" method="post" class="landing-request" accept-charset="UTF-8" {% if form_metrica %}onsubmit="ym(49637002, 'reachGoal', '{{ form_metrica }}'); return true;"{% endif %}>
  {{ csrfInput() }}
  <input type="hidden" name="action" value="contact-form/send">
  <input type="hidden" name="redirect" value="{{ 'contact/thank-you'|hash }}">
  <input type="hidden" name="message[Страница пользователя]" value="{{ craft.app.request.absoluteUrl() }}" >
  <input type="hidden" name="message[Локация]" value="{{ location.city }}" >
  {% if form_name %}
  <input type="hidden" name="message[Название формы]" value="Форма: {{ form_name }}">
  {% endif %}
  <input class="" id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}" placeholder="Ваше имя" autocomplete="off" required="required">
  {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
  <input class="" type="text" name="message[Телефон]" placeholder="Телефон" required="required" autocomplete="off"  >
  <input class="" type="email" name="fromEmail" placeholder="Email" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}" autocomplete="off" >
  {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
  {% if form_agreement_above %}
  <label class="control-label required-label accept-checkbox"><input type="checkbox" required=""> Я согласен на обработку персональных данных.</label>
  {% endif %}
  <input name="submit" type="submit" id="submit" class="ng-submit-btn ng-btn" value="Отправить">
  {% if form_agreement_below %}
  <label class="control-label required-label accept-checkbox"><input type="checkbox" required=""> Я согласен на обработку персональных данных.</label>
  {% endif %}
  {% if form_agreement_by_button %}
  <p class="control-label required-label accept-terms">Нажимая на кнопку, вы даете согласие на обработку <a href="https://questcorp.events/politika" target="_blank">персональных данных</a>.</p>
  {% endif %}
</form>
